VAPID-PRIVATE.txt
node_modules/
www/
ios/App/Pods/
ios/App/build/
ios/App/App/public/
ios/App/output/
ios/App/fastlane/report.xml
ios/App/fastlane/*.ipa
ios/App/fastlane/*.dSYM.zip
*.mobileprovision
*.p8
*.p12
.DS_Store
